
bin/
obj/

src/SwishMapper.Cli/SAMPLES/
src/SwishMapper.Cli/OUTPUT/
src/SwishMapper.Cli/SCRATCH/

src/SwishMapper.Sampler/my-samples.json

test/SwishMapper.Tests/coverage.opencover.xml
test/SwishMapper.Tests/coveragereport/

