
html {
    font-family: sans-serif;
}

body {
    margin: 1em;
}

h1 {
    text-align: center;
    border: solid 1px #ccc;
}

h2 {
    border: solid 1px #ccc;
    background-color: #eee;
    padding: 5px
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    margin-left: 1em;
    margin-top: 10px;
}

thead {
    background-color: lightcyan;
}

thead.muted {
    background-color: #EEE;
}

td, th {
    border: solid 1px #CCC;
    padding: 0.1em;
}

td, th {
    font-size: 0.8em;
}

td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

td.title {
    font-weight: bold;
}

td.title:after {
    content: ":";
}

td.highlight {
    background-color: yellow;
}

ul.toc {
    columns: 3;
}

li.subitem {
    font-size: 0.85em;
}

/* See https://stackoverflow.com/a/27836948/282725 */
/*
.comma:not(:first-child) {
    margin-left: -.3em;  
}

.comma:empty {
    display: none;
}

.comma:not(:first-child):before {
    content: ", ";
}
*/

.comma:not(:last-child):after {
    content: ", ";
}

