
html {
    font-family: sans-serif;
}

body {
    margin: 1em;
}

table {
    border-collapse: collapse;
    margin-left: 1em;
}

thead {
    background-color: lightcyan;
}

td, th {
    border: solid 1px #CCC;
    padding: 0.1em;
    white-space: nowrap;
}

td, th {
    font-size: 0.8em;
}

