@{Layout = "layout";}

<h1>Data Project</h1>

@foreach (var section in Model.Sections)
{
    <h2>@section.Name</h2>

    <ul>
    @foreach (var entry in section.Entries.OrderBy(x => x.Name))
    {
        <li><a href="@entry.Path">@entry.Name</a></li>
    }
    </ul>
}

